/* VARIABLES */
/* COLORS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato-Bold.eot');
  src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Lato-Bold.woff') format('woff'), url('fonts/Lato-Bold.ttf') format('truetype'), url('fonts/Lato-Bold.svg') format('svg');
  font-weight: 400; }

@font-face {
  font-family: 'Tinos';
  src: url('fonts/Tinos-Regular.eot');
  src: url('fonts/Tinos-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Tinos-Regular.woff') format('woff'), url('fonts/Tinos-Regular.ttf') format('truetype'), url('fonts/Tinos-Regular.svg') format('svg');
  font-weight: 400; }

@font-face {
  font-family: 'Tinos Italic';
  src: url('fonts/Tinos-Italic.eot');
  src: url('fonts/Tinos-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Tinos-Italic.woff') format('woff'), url('fonts/Tinos-Italic.ttf') format('truetype'), url('fonts/Tinos-Italic.svg') format('svg');
  font-weight: 400; }

@font-face {
  font-family: 'Tinos Italic';
  src: url('fonts/Tinos-BoldItalic.eot');
  src: url('fonts/Tinos-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Tinos-BoldItalic.woff') format('woff'), url('fonts/Tinos-BoldItalic.ttf') format('truetype'), url('fonts/Tinos-BoldItalic.svg') format('svg');
  font-weight: 500; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
body {
  background: #FFFFFF;
  font-family: 'Tinos', serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px; }
