html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@font-face {
  font-family: "Uniqlo";
  src: url("fonts//UniqloLight.eot");
  src: url("fonts//UniqloLight.eot?#iefix") format("embedded-opentype"), url("fonts//UniqloLight.woff") format("woff"), url("fonts//UniqloLight.ttf") format("truetype"), url("fonts//UniqloLight.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Uniqlo";
  src: url("fonts//UniqloRegular.eot");
  src: url("fonts//UniqloRegular.eot?#iefix") format("embedded-opentype"), url("fonts//UniqloRegular.woff") format("woff"), url("fonts//UniqloRegular.ttf") format("truetype"), url("fonts//UniqloRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Uniqlo";
  src: url("fonts/UniqloBold.eot");
  src: url("fonts/UniqloBold.eot?#iefix") format("embedded-opentype"), url("fonts/UniqloBold.woff") format("woff"), url("fonts/UniqloBold.ttf") format("truetype"), url("fonts/UniqloBold.svg") format("svg");
  font-weight: 500;
  font-style: "fonts/"; }
.no-transition {
  -webkit-transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important;
  -moz-transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important;
  transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important; }
  .no-transition * {
    -webkit-transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important;
    -moz-transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important;
    transition: all 0ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0ms !important; }

body {
  background: white;
  font-family: "Uniqlo", "Helvetica", sans-serif;
  letter-spacing: 1px;
  overflow: hidden;
  text-align: center;
  font: 300 15px/20px "Uniqlo", "Helvetica", sans-serif;
  letter-spacing: 1px;
  background: #e6e6e6;
  -webkit-transition: background 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  -moz-transition: background 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  transition: background 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
  body.playing {
    background: white; }

.body {
  height: 100%;
  display: none; }

canvas {
  position: absolute;
  top: 0;
  left: 0; }

h1 {
  font: 500 80px/80px "Uniqlo", "Helvetica", sans-serif;
  margin-bottom: 30px; }

h2 {
  font: 500 25px/40px "Uniqlo", "Helvetica", sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px; }
  h2 strong {
    display: block;
    font: 500 35px/40px "Uniqlo", "Helvetica", sans-serif; }

strong {
  font-weight: 500;
  text-transform: uppercase; }
  strong span {
    font-weight: 400;
    display: block; }

.uniqlo-logo {
  display: block;
  position: absolute;
  background-image: url("/dev/img/sprite.png");
  background-position: -331px -101px;
  width: 70px;
  height: 70px;
  background-size: 431px 294px;
  z-index: 11;
  top: 0;
  right: 0; }
  .uniqlo-logo.main {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
    .uniqlo-logo.main.displayed {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 500ms;
      -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 500ms;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 500ms; }

.screen {
  position: relative;
  z-index: 11;
  height: 100%;
  width: 100%;
  display: none;
  opacity: 0; }
  .screen .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .screen .title {
    color: red;
    text-transform: uppercase;
    font: 600 70px/60px "Uniqlo", "Helvetica", sans-serif; }
  .screen.displayed {
    opacity: 1;
    -webkit-transition: opacity 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: opacity 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: opacity 700ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }

.button span {
  font: 500 25px/25px "Uniqlo", "Helvetica", sans-serif;
  padding: 19px 39px 14px 40px;
  background: red;
  color: white;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase; }

.text span {
  color: red; }

form {
  width: 290px;
  padding: 20px;
  text-align: left;
  background: white;
  position: relative; }
  form .info {
    text-align: center;
    margin-bottom: 40px; }
  form .input-text {
    position: relative;
    margin-bottom: 10px; }
    form .input-text span {
      position: absolute;
      top: 11px;
      left: 10px;
      -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      -moz-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
      transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
    form .input-text input {
      width: 100%;
      border: none;
      background: #e6e6e6;
      font: 300 15px/15px "Uniqlo", "Helvetica", sans-serif;
      padding: 13px 10px 12px 10px;
      letter-spacing: 1px;
      box-sizing: border-box; }
      form .input-text input:focus {
        outline: none; }
    form .input-text.focus span {
      display: none; }
  form .radios {
    margin-bottom: 10px; }
    form .radios:before, form .radios:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    form .radios:after {
      clear: both; }
  form .radio input, form .checkbox input {
    display: none; }
  form .radio i, form .checkbox i {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: #e6e6e6;
    margin-right: 10px;
    position: relative; }
    form .radio i:after, form .checkbox i:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      opacity: 0; }
  form .radio.active i:after, form .checkbox.active i:after {
    opacity: 1; }
  form .radio {
    float: left;
    margin-right: 20px; }
    form .radio i {
      border-radius: 100%; }
      form .radio i:after {
        border-radius: 100%;
        height: 10px;
        width: 10px;
        background: black; }
  form .checkbox {
    margin-bottom: 10px; }
    form .checkbox:before, form .checkbox:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    form .checkbox:after {
      clear: both; }
    form .checkbox i:after {
      background-image: url("/dev/img/sprite.png");
      background-position: -418px -101px;
      width: 11px;
      height: 10px;
      background-size: 431px 294px; }
  form .submit span {
    display: block;
    width: 100%;
    background: black;
    text-align: center;
    box-sizing: border-box; }
  form .error {
    position: absolute;
    top: 150px;
    left: 0;
    color: red;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    display: none; }
  form .sent {
    font: 500 25px/25px "Uniqlo", "Helvetica", sans-serif;
    color: red;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: none; }
    form .sent p:nth-child(2) {
      font: 300 14px/25px "Uniqlo", "Helvetica", sans-serif; }
      form .sent p:nth-child(2) span {
        border-bottom: 1px solid red;
        cursor: pointer; }

.game p {
  position: absolute;
  top: 50%;
  color: red;
  font: 500 60px/34px "Uniqlo", "Helvetica", sans-serif;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .game p sub {
    font: 300 15px/34px "Uniqlo", "Helvetica", sans-serif;
    display: block;
    margin-top: 15px; }
.game .lives {
  left: 50%;
  margin-left: -35%; }
.game .level {
  right: 50%;
  margin-right: -35%; }
  .game .level sup {
    font-size: 30px;
    line-height: 0; }
.game.hidden .lives,
.game.hidden .level {
  display: none; }

.countdown {
  position: absolute;
  z-index: 2;
  color: red;
  font: 500 50px/50px Helvetica; }

.sf-toolbarreset {
  display: none !important; }

/*.try-again {
	position:absolute;
	top:50%;
	right:50px;
	z-index:3;
	@include translate(0, -50%);
	color:red;
	font-size:100px;
	font-family:HELVETICA;
	font-weight:600;
	display:none;
	cursor:pointer;

	&:hover {
		background:red;
		color:white;
	}
}

.game-over {
	position:absolute;
	top:50%;
	right:50px;
	z-index:3;
	@include translate(0, -50%);
	color:red;
	font-size:100px;
	font-family:HELVETICA;
	font-weight:600;
	display:none;
}*/
.main-footer {
  position: absolute;
  bottom: -6px;
  right: -3px;
  z-index: 10;
  color: #858585; }
  .main-footer a {
    color: #858585; }
  .main-footer li {
    font: 300 11px/17px "Uniqlo", "Helvetica", sans-serif;
    letter-spacing: 1px;
    margin: 10px;
    display: inline-block; }
  .main-footer i {
    display: block; }
  .main-footer .facebook-link,
  .main-footer .twitter-link,
  .main-footer .instagram-link,
  .main-footer .google-link {
    position: relative;
    bottom: -10px; }
  .main-footer .facebook-link i {
    background-image: url("/dev/img/sprite.png");
    background-position: -402px -133px;
    width: 15px;
    height: 15px;
    background-size: 431px 294px; }
  .main-footer .twitter-link i {
    background-image: url("/dev/img/sprite.png");
    background-position: -402px -149px;
    width: 15px;
    height: 15px;
    background-size: 431px 294px; }
  .main-footer .instagram-link i {
    background-image: url("/dev/img/sprite.png");
    background-position: -402px -117px;
    width: 15px;
    height: 15px;
    background-size: 431px 294px; }
  .main-footer .google-link i {
    background-image: url("/dev/img/sprite.png");
    background-position: -402px -101px;
    width: 15px;
    height: 15px;
    background-size: 431px 294px; }

.home {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  z-index: 3; }
  .home .uniqlo-logo {
    top: 50%;
    right: 50%;
    margin: -35px -35px 0 0; }
  .home .carousel {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden; }
  .home .content {
    height: 100%;
    width: 50%;
    float: left;
    overflow: hidden; }
    .home .content p:last-child strong {
      color: red;
      font-weight: 300; }
  .home .mask {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; }
  .home .inner {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .home .play-button {
    margin: 40px 0 55px; }
    .home .play-button span {
      font: 500 80px/80px "Uniqlo", "Helvetica", sans-serif;
      padding: 33px 48px 16px 51px;
      color: white;
      display: inline-block;
      cursor: pointer; }
  .home .sub-play-text {
    font: 500 35px/35px "Uniqlo", "Helvetica", sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px; }
    .home .sub-play-text strong {
      display: inline-block;
      border-bottom: 2px solid white;
      line-height: 25px; }
  .home .carousel {
    position: relative;
    overflow: hidden; }
    .home .carousel p {
      color: white;
      text-transform: uppercase; }
    .home .carousel header,
    .home .carousel footer {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      z-index: 3; }
    .home .carousel header {
      top: 20px;
      text-align: center; }
      .home .carousel header p {
        font: 500 25px/40px "Uniqlo", "Helvetica", sans-serif; }
        .home .carousel header p strong {
          font-size: 35px;
          display: block; }
        .home .carousel header p span {
          display: inline-block;
          color: white;
          border-bottom: 2px solid white;
          line-height: 25px; }
    .home .carousel footer {
      bottom: 20px;
      font: 300 15px/20px "Uniqlo", "Helvetica", sans-serif; }
      .home .carousel footer .left,
      .home .carousel footer .right {
        position: absolute;
        bottom: 0; }
      .home .carousel footer .left {
        left: 20px;
        text-align: left; }
      .home .carousel footer .right {
        right: 20px;
        text-align: right; }
    .home .carousel .name {
      font: 500 25px/25px "Uniqlo", "Helvetica", sans-serif; }
    .home .carousel .description {
      text-transform: none; }
    .home .carousel .price {
      text-decoration: line-through; }
    .home .carousel .offer {
      font: 500 25px/25px "Uniqlo", "Helvetica", sans-serif;
      color: red; }
    .home .carousel .slides li {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden; }
    .home .carousel .slides img {
      position: absolute;
      display: block; }
      .home .carousel .slides img.hidden {
        opacity: 0; }
    .home .carousel .slides .front {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .home .carousel .slides .front img {
        max-width: 90%;
        max-height: 90%;
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
  .home h1,
  .home .sub-play-text {
    -webkit-transition: color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    -moz-transition: color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    transition: color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms; }
  .home .play-button span {
    -webkit-transition: background-color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    -moz-transition: background-color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    transition: background-color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms; }
  .home .sub-play-text strong {
    -webkit-transition: border-color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    -moz-transition: border-color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    transition: border-color 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms; }
  .home .carousel .slides li img, .home .carousel .slides li .front {
    -webkit-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }
  .home .carousel .slides li.right .background, .home .carousel .slides li.left .background {
    opacity: 0; }
  .home .carousel .slides li.left .front {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .home .carousel .slides li.right .front {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  .home.hidden {
    opacity: 0;
    -webkit-transition: opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    -moz-transition: opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
    transition: opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms; }

.tuto {
  display: none; }
  .tuto .squares {
    width: 150px;
    height: 150px;
    margin: 0 auto; }
    .tuto .squares span {
      display: block;
      width: 40px;
      height: 40px;
      margin: 5px;
      float: left; }
    .tuto .squares .black {
      background: black; }
    .tuto .squares .grey {
      background: #8a8a8a; }
    .tuto .squares .red {
      background: red; }
  .tuto .loading span {
    color: red;
    border-bottom: 1px solid red; }
  .tuto .start-button {
    display: none; }
  .tuto .text {
    width: 350px;
    margin: 50px auto; }
    .tuto .text p:nth-child(1) {
      font: 500 25px/30px "Uniqlo", "Helvetica", sans-serif;
      text-transform: uppercase; }
    .tuto .text span {
      text-transform: uppercase; }

.game-over .text {
  margin: 40px 0 0; }
.game-over ul {
  margin: 30px 0 55px; }
.game-over li {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer; }
  .game-over li a {
    cursor: pointer;
    display: block;
    height: 100%; }
.game-over .facebook {
  background-image: url("/dev/img/sprite.png");
  background-position: 0px -234px;
  width: 60px;
  height: 60px;
  background-size: 431px 294px; }
.game-over .twitter {
  background-image: url("/dev/img/sprite.png");
  background-position: -331px -172px;
  width: 60px;
  height: 60px;
  background-size: 431px 294px; }
.game-over .google {
  background-image: url("/dev/img/sprite.png");
  background-position: -61px -234px;
  width: 44px;
  height: 44px;
  background-size: 431px 294px; }
.game-over .get-notified {
  font: 500 25px/35px "Uniqlo", "Helvetica", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  width: 500px; }
  .game-over .get-notified p {
    display: inline;
    border-bottom: 2px solid black; }
  .game-over .get-notified span {
    display: inline; }
.game-over .replay-button {
  margin: 30px 0 64px;
  display: none; }

.try-again .content {
  width: 400px; }
.try-again .status {
  font: 500 80px/80px "Uniqlo", "Helvetica", sans-serif;
  margin: 30px 0 40px; }
  .try-again .status:before, .try-again .status:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .try-again .status:after {
    clear: both; }
  .try-again .status > p {
    width: 50%;
    float: left;
    padding: 20px 0; }
    .try-again .status > p:nth-child(1) {
      border-right: 1px solid red;
      box-sizing: border-box; }
  .try-again .status sub {
    display: block;
    font: 300 15px/15px "Uniqlo", "Helvetica", sans-serif; }

.win .title {
  font-size: 100px;
  line-height: 100px;
  margin-bottom: 20px; }
.win .letter {
  position: relative;
  float: left;
  margin-right: 25px; }
.win .push {
  height: 350px;
  width: 300px;
  background: white;
  margin: 0 15px 48px;
  padding-top: 40px; }
  .win .push strong {
    display: block;
    font-size: 30px;
    margin-top: 8px; }
  .win .push img {
    display: block;
    margin-top: 40px;
    margin: 30px auto 0; }
.win .enveloppe {
  background-image: url("/dev/img/sprite.png");
  background-position: 0px 0px;
  width: 330px;
  height: 233px;
  background-size: 431px 294px;
  position: absolute;
  bottom: 0;
  left: 0; }
.win form {
  float: left; }

.loose .title {
  font-size: 100px;
  line-height: 100px;
  margin-bottom: 20px; }
.loose form {
  margin: 0 auto; }
.loose .see-you {
  font: 500 25px/25px "Uniqlo", "Helvetica", sans-serif;
  text-transform: uppercase;
  margin: 20px 0 30px;
  text-align: center; }
.loose form .info {
  margin: 20px 0 40px; }

@media screen and (max-width: 640px) {
  body {
    overflow: auto;
    font: 300 12px/15px "Uniqlo", "Helvetica", sans-serif; }
    body:before, body:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    body:after {
      clear: both; }

  .body:before, .body:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .body:after {
    clear: both; }

  .uniqlo-logo.main {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
    right: auto;
    background-image: url("/dev/img/sprite.png");
    background-position: -165.5px 0px;
    width: 50px;
    height: 50px;
    background-size: 215.5px 147px;
    height: 50px;
    width: 50px; }

  .button span {
    font-size: 20px; }

  .screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100; }
    .screen .content {
      position: static;
      top: 0;
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      padding: 80px 20px;
      box-sizing: border-box; }
    .screen .title {
      font-size: 50px;
      line-height: 45px; }

  form {
    width: 100%;
    box-sizing: border-box; }
    form .input-text input {
      font: 300 12px/15px "Uniqlo", "Helvetica", sans-serif;
      padding: 14px 10px 11px 10px; }
    form .input-text span {
      top: 15px; }

  .home .uniqlo-logo {
    display: none; }
  .home .carousel {
    height: 320px;
    width: 100%; }
    .home .carousel header {
      top: 10px; }
      .home .carousel header p {
        font-size: 12px;
        line-height: 15px; }
        .home .carousel header p strong {
          font-size: 12px;
          line-height: 15px; }
        .home .carousel header p span {
          font-size: 20px;
          line-height: 15px;
          margin-top: 5px; }
    .home .carousel footer {
      bottom: 5px; }
      .home .carousel footer .left {
        display: none; }
      .home .carousel footer .right {
        right: 10px; }
  .home .content {
    width: 100%;
    height: auto;
    background: white; }
    .home .content h1 {
      font-size: 42px;
      line-height: 40px; }
    .home .content h2 {
      font-size: 12px;
      line-height: 20px; }
      .home .content h2 strong {
        font-size: 20px;
        line-height: 20px; }
    .home .content .mask {
      height: auto; }
    .home .content .inner {
      top: 0;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      padding: 40px 0; }
    .home .content .play-button {
      margin: 30px auto 40px; }
      .home .content .play-button span {
        font-size: 40px;
        line-height: 40px;
        padding: 20px 20px 10px 18px; }
    .home .content .sub-play-text {
      font-size: 20px;
      line-height: 25px; }
      .home .content .sub-play-text strong {
        line-height: 18px; }

  .tuto .text {
    width: 100%; }
    .tuto .text p:nth-child(1) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 20px; }

  .game p {
    top: 70px;
    font-size: 40px;
    line-height: 30px; }
    .game p sub {
      font-size: 14px;
      width: 60px;
      line-height: 16px;
      margin-top: 10px; }

  .try-again .content {
    width: 100%;
    max-width: 400px; }
  .try-again .status {
    font-size: 40px;
    line-height: 30px; }
    .try-again .status sub {
      margin-top: 10px;
      font-size: 12px; }

  .game-over .facebook {
    background-image: url("/dev/img/sprite.png");
    background-position: 0px -156px;
    width: 40px;
    height: 40px;
    background-size: 287.33333px 196px; }
  .game-over .twitter {
    background-image: url("/dev/img/sprite.png");
    background-position: -220.66667px -114.66667px;
    width: 40px;
    height: 40px;
    background-size: 287.33333px 196px; }
  .game-over .get-notified {
    font-size: 20px;
    line-height: 25px; }
  .game-over .replay-button {
    margin-bottom: 42px; }

  .win .letter,
  .win form {
    float: none;
    clear: both; }
  .win .letter {
    margin: 0; }
  .win .enveloppe {
    background: none;
    width: 100%;
    box-sizing: border-box; }
  .win .push {
    margin: 0;
    width: 100%; }
    .win .push strong {
      font-size: 20px;
      line-height: 20px; }

  .main-footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    position: relative;
    display: none; } }
