.game-over {

	.text {
		margin:40px 0 0;
	}

	ul {
		margin:30px 0 55px;
	}

	li {
		display:inline-block;
		margin:0 5px;
		cursor:pointer;

		a {
			cursor:pointer;
			display:block;
			height:100%;
		}
	}

	.facebook {
		@include sprite('share-facebook');
	}

	.twitter {
		@include sprite('share-twitter');
	}

	.google {
		@include sprite('share-google');
	}

	.get-notified {
		font:500 25px/20px $font-family;
		text-transform:uppercase;
		cursor:pointer;
		text-decoration:underline;
		
		span {
			display:inline-block;
		}
	}

	.replay-button {
		margin:30px 0 64px;
		display:none;
	}

}