.loose {

	.title {
		font-size:100px;
		line-height:100px;
		margin-bottom:20px;
	}

	form {
		margin:0 auto;
	}

	.see-you {
		font:500 25px/25px $font-family;
		text-transform:uppercase;
		margin:20px 0 30px;
		text-align:center;
	}

	form {
		.info {
			margin:20px 0 40px;
		}
	}



}