.tuto {
	display:none;

	.loading {
		span {
			color:$red;
			border-bottom:1px solid $red;
		}
	}

	.start-button {
		display:none;
	}

	.text {
		width:350px;
		margin:50px auto;

		p:nth-child(1) {
			font:500 25px/30px $font-family;
			text-transform:uppercase;
			margin-bottom:5px;
		}

		span {
			text-transform:uppercase;
		}
	}


}