.tuto {
	display:none;
	
	.squares {
		width:150px;
		height:150px;
		margin:0 auto;

		span {
			display:block;
			width:40px;
			height:40px;
			margin:5px;
			float:left;
		}

		.black {
			background:$black;
		}

		.grey {
			background:#8a8a8a;
		}

		.red {
			background:$red;
		}
	}

	.loading {
		span {
			color:$red;
			border-bottom:1px solid $red;
		}
	}

	.start-button {
		display:none;
	}

	.text {
		width:350px;
		margin:50px auto;

		p:nth-child(1) {
			font:500 25px/30px $font-family;
			text-transform:uppercase;
		}

		span {
			text-transform:uppercase;
		}
	}


}